@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
*
{
    margin:0;
    padding:0;
}
.entire
{
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 400;
    font-size: 20px;
    height:100vh;
    min-width:800px;
    margin: 0 auto;
    background-color: rgb(202, 232, 241);
    display:flex;
    justify-content: center;
    text-align: center;
}
.container
{
margin-top:70px;
}
.heading
{
    text-transform: uppercase;
    margin-bottom:60px;
    font-weight: 700;
}
.para
{
    display:block;
    margin:10px;
}
.grid-container
{
    margin: 40px;
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-gap:10px;
}
.grid-item
{
height:50px;
width:100px;
border-radius: 10px;
}
.grid-item:hover
{
    color:#fff;
    background:chartreuse
}
.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.result div
{
margin: 50px;
font-size: 35px;

}
.resultDisp,.selectedHobby
{
color:indigo
}
.hidden
{
    display:none;
}